<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justificante Médico</title>
    <link rel="stylesheet" href="justificante.component.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-logo">
            </div>
            <div class="doctor-info">
                <h2>JUSTIFICANTE MEDICO</h2><br>
                <h1>Dr. encargado de atender la solicitud</h1><br>
                <p>Dr(a): <input type="text" name="doctor-name" size="50"><br></p>
            </div>
        </div><br>
        <div class="patient-info">
            <p><strong>NOMBRE DEL PACIENTE:</strong> <input type="text" name="patient-name" size="50"><br>
            <strong>NO.CONTROL DEL PACIENTE:</strong> <input type="text" name="patient-id" size="50"><br>
            <strong>EDAD:</strong> <input type="text" name="patient-age" size="5"><br>
            <strong>SEXO:</strong> <input type="text" name="patient-sex" size="10"></p>
        </div>
        <div class="location-date">
            <p>Lugar y fecha: <input type="text" name="location-date" size="50"></p>
        </div><br>
        <div class="content">
            <p>A quien corresponda.</p>
            <p>Por medio de la presente se hace contar que:</p>
            <p>El(la) paciente <input type="text" name="patient-name-2" size="50"> no se encuentra 
            en capacidad de realizar sus actividades laborales debido a:</p>
            <p><input type="text" name="reason" size="100"></p>
            <p><input type="text" name="reason-details" size="100"> que le requiere reposo por un 
            periodo de <input type="text" name="rest-days" size="5"> días, iniciando el día <input type="text" name="start-day" size="2"> / <input type="text" name="start-month" size="2"> / <input type="text" name="start-year" size="4"> y terminando el día 
            <input type="text" name="end-day" size="2"> / <input type="text" name="end-month" size="2"> / <input type="text" name="end-year" size="4">. Hacemos petición de tomar en cuenta este documento por 
            válido para justificar las faltas durante el periodo antes mencionado.</p>
            <p>Sírvanse el interesado hacer uso del presente para justificar su falta por enfermedad</p>
        </div>
        <div class="signature">
            <p>___________________________<br>
                    Firma del médico </p>
        </div>
       <div>
            <button type="submit" class="btn btn-primary">Imprimir Justificante</button><br>
        </div>
    </div>
</body>
</html>
