<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justificante Médico</title>
    <link rel="stylesheet" href="justificante.component.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-logo">
            </div>
            <div class="doctor-info">
                <h2>JUSTIFICANTE MEDICO</h2><br>
                <h1>Dr. encargado de atender la solicitud</h1><br>
                <p>Dr(a)__________________________________________<br></p>
            </div>
        </div><br>
        <div class="patient-info">
            <p><strong>NOMBRE DEL PACIENTE:</strong> ___________________________________________<br>
            <strong>NO.CONTROL DEL PACIENTE:</strong> ___________________________________________<br>
            <strong>EDAD:</strong> ____________<br>
            <strong>SEXO:</strong> ____________</p>
        </div>
        <div class="location-date">
            <p>Lugar y fecha: ________________________________________</p>
        </div><br>
        <div class="content">
            <p>A quien corresponda.</p>
            <p>Por medio de la presente se hace contar que:</p>
            <p>El(la) paciente ______________________________________________ no se encuentra 
            en capacidad de realizar sus actividades laborales debido a:</p>
            <p>__________________________________________________________________________________________________________________</p>
            <p>____________________________________________________________________________________________________________que le requiere reposo por un 
            periodo de ________ días, iniciando el día ______ / ______ / ______ y terminando el día 
            ______ / ______ / ______. Hacemos petición de tomar en cuenta este documento por 
            válido para justificar las faltas durante el periodo antes mencionado.</p>
            <p>Sírvanse el interesado hacer uso del presente para justificar su falta por enfermedad</p>
        </div>
        <div class="signature">
            <p>___________________________<br>
                    Firma del médico </p>
        </div>
    </div>
</body>
</html>
